.head {
    margin-top: 3vh;
    text-align: center;
    border: red 2px solid;
    font-size: large;
    background-color: aqua;
  }

  .tabledata {
    text-align: center;
    margin-top: 2vh;
    
  }
  .row{
    background-color: azure;
  }

  hr {
    margin-bottom: 0px;
  }
  button{
      border-radius: 20%;
      background-color: rgb(114, 245, 114);
  }